<main class="main-content">
  <div class="container">
    
    <aside class="action-panel">
      <button class="action-btn" routerLink="/calendarioprofesor">Calendario</button>
      <button class="action-btn" routerLink="/reunionesprofesor">Reuniones pendientes</button>
    </aside>

    <aside class="action-panel">
      <button class="action-btn" routerLink="/notificacionesprofesor">Notificaciones</button>
      <button class="action-btn" routerLink="/reunionespasadasprofesor">Reuniones completadas</button>
    </aside>
    
  </div>

  <router-outlet></router-outlet>
</main>