<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar Asignatura</title>
</head>
<body>

    <main>
  <div class="container">
    <div class="asignaturas-panel">
      <h2 class="page-title">Seleccione asignatura para solicitar una reunión</h2>
      <div class="subjects-grid">
        <button class="subject-btn" routerLink="/calendario">Inglés Profesional</button>
        <button class="subject-btn" routerLink="/calendario">Desarrollo web en entorno servidor</button>
        <button class="subject-btn" routerLink="/calendario">Diseño de interfaces web</button>
        <button class="subject-btn" routerLink="/calendario">Desarrollo web en entorno cliente</button>
        <button class="subject-btn" routerLink="/calendario">IPE</button>
        <button class="subject-btn" routerLink="/calendario">Optativa</button>
        <button class="subject-btn" routerLink="/calendario">Despliegue en aplicaciones web</button>
        <button class="subject-btn" routerLink="/calendario">Proyecto de DAW</button>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</main>


</body>
</html>